<div class="container mt-5">
  <div class="row">
    <div class="col-6">
      <h2>User Device Information</h2> 
    </div>
    <div class="col-6">
              <th>Status</th>
              <th>Status</th>
      <button class="btn btn-success ml-auto" style="float: inline-end;" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Add New Device</button>
    </div>
  </div>
  
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Avatar</th> <!-- Add the new column for Avatar -->
        <th>User</th>
        <th>Serial</th>
        <th>Device ID</th>
        <th>Device Make</th>
        <th>Condition</th>
        <th>Status</th>
        <th>Device Type</th>
        <th>Department</th>
        <th>Last Maintenance Date</th>
        <th>Purchase Date</th> <!-- Include Purchase Date column -->
        <!-- <th>Comment</th> -->
        <th>Modify</th>
      </tr>
    </thead>
   <!-- Table structure -->
  <tbody>
    <tr *ngFor="let item of userDeviceData">
      <!-- Display avatar -->
      <td>
        <!-- <img src="./../../../assets/nordwood-themes-_sg8nXmpWDM-unsplash.jpg" alt="Avatar" style="width: 50px; height: 50px;"> -->
        <img [src]="item.imageLink" alt="Avatar" style="width: 50px; height: 50px; border-radius: 50%;"></td>
      <!-- Display other device information -->
      <td>{{ item.user }}</td>
      <td>{{ item.serial }}</td>
      <td>{{ item.deviceId }}</td>
      <td>{{ item.deviceMake }}</td>
      <td>{{ item.condition }}</td>
      <td>{{ item.status }}</td>
      <td>{{ item.deviceType }}</td>
      <td>{{ item.department }}</td>
      <td>{{ item.lastMaintenanceDate }}</td>
      <td>{{ item.purchaseDate }}</td>
      <!-- Display service history -->
      <!-- <td>
        <ul>
          <li *ngFor="let service of item.serviceHistory">
            <strong>Date:</strong> {{ service.date }}<br>
            <strong>Agent:</strong> {{ service.agent }}<br>
            <strong>Comments:</strong> {{ service.comments }}
          </li>
        </ul>
      </td> -->
      <td><button class="btn btn-info ml-auto" style="float: inline-end;" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">Maintain</button></td>
    </tr>
  </tbody>

  </table>
  
  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Maintanance</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div>
        Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
      </div>
      <div class="dropdown mt-3">
        <button class="btn btn-secondary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown">
          Category
        </button>
        <!-- Dropdown menu for maintenance options -->
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" >Software Updates and Patches</a></li>
          <li><a class="dropdown-item" href="#">Hardware Inspection and Cleaning</a></li>
          <li><a class="dropdown-item" href="#">Battery Health Check</a></li>
          <li><a class="dropdown-item" href="#">Performance Optimization</a></li>
          <li><a class="dropdown-item" href="#">Data Backup and Recovery</a></li>
          <li><a class="dropdown-item" href="#">Security Audits and Vulnerability Assessments</a></li>
          <li><a class="dropdown-item" href="#">Hardware Upgrades</a></li>
          <li><a class="dropdown-item" href="#">Environmental Monitoring</a></li>
          <li><a class="dropdown-item" href="#">User Training and Support</a></li>
          <li><a class="dropdown-item" href="#">Documentation and Asset Management</a></li>
        </ul>

      </div>
    </div>
  </div>
</div>

  
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="staticBackdropLabel">Report Issue</h5>
      <button type="button" class="btn-close primary" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <form>
        <div class="mb-3">
          <label for="date-time-fault-reported" class="form-label">Date/Time Fault Reported</label>
          <input type="text" class="form-control flatpickr" id="date-time-fault-reported"
            placeholder="Date/Time Fault Reported">
        </div>
        <div class="mb-3">
          <label for="service-provider" class="form-label">Service Provider</label>
          <select class="form-select" id="service-provider">
            <option value="">Select a service provider</option>
            <option value="G4S">G4S</option>
            <option value="Tontrack">Tontrack</option>
            <option value="itEvolution">itEvolution</option>
            <option value="iConnect">iConnect</option>
            <option value="Seartec">Seartec</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="fault-reported" class="form-label">Fault Reported</label>
          <input type="text" class="form-control" id="fault-reported" placeholder="Fault Reported">
        </div>
        <div class="mb-3">
          <label for="category" class="form-label">Category</label>
          <select class="form-select" id="category">
            <option value="">Select a category</option>
            <option value="Printing">Printing</option>
            <option value="Connectivity">Connectivity</option>
            <option value="Hardware">Hardware</option>
            <option value="Software">Software</option>
            <option value="User Support">User Support</option>
            <option value="Telephony">Telephony</option>
            <option value="Camera Visuals">Camera Visuals</option>
            <option value="Password Resets">Password Resets</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="reported-by" class="form-label">Reported By</label>
          <input type="text" class="form-control" id="reported-by" placeholder="Reported By">
        </div>
        <div class="mb-3">
          <label for="reported-by-email" class="form-label">Reported By Email</label>
          <input type="email" class="form-control" id="reported-by-email" placeholder="Reported By Email">
        </div>
        <div class="mb-3">
          <label for="assigned-to" class="form-label">Assigned To</label>
          <input type="text" class="form-control" id="assigned-to" placeholder="Assigned To">
        </div>
        <!--   <div class="mb-3">
                    <label for="status" class="form-label">Status</label>
                    <input type="text" class="form-control" id="status" placeholder="Status">
                </div>
                <div class="mb-3">
                    <label for="status-color" class="form-label">Status Color</label>
                    <input type="text" class="form-control" id="status-color" placeholder="Status Color">
                </div>
                <div class="mb-3">
                    <label for="date-time-fault-resolved" class="form-label">Date/Time Fault Resolved</label>
                    <input type="text" class="form-control" id="date-time-fault-resolved" placeholder="Date/Time Fault Resolved">
                </div>
                <div class="mb-3">
                    <label for="time-lapsed-in-days" class="form-label">Time Lapsed in Days</label>
                    <input type="text" class="form-control" id="time-lapsed-in-days" placeholder="Time Lapsed in Days">
                </div> -->
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded mr-2"
        data-bs-dismiss="modal">Close</button>
      <button type="submit"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Submit</button>
    </div>
  </div>
</div>
</div>