/* Navbar */
.navbar {
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  .navbar-brand {
    color: black;
  }
  
  .navbar-toggler-icon {
    background-color: black;
  }
  
  .navbar-nav .nav-link {
    color: black;

  }
  
.logo{
    height: 90px;
    width: 150px;
}
  
  
/* This class defines the styles for links */
.link {
  cursor: pointer;
}

/* This class defines the styles for links when hovered over */
.link:hover {
  font-weight: bold; // Add bold font
  text-decoration: underline; /* Optional: You can add underlines on hover */
}

.link.active {
  color: yellow; // Change the text color
  font-weight: bold; // Add bold font
}

.logout{
  margin-right: 8px;
}