.assetNumber{
    font-size: 4rem;
    font-weight: 500;
}

.assetHeader{
    font-size: 3rem;
    font-weight: 900;  
}

.card{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.card-title{
    font-size: 1.5rem;
    font-weight: 600; 
    // margin: 0 auto !important;
    text-align: center;
}


.card-text{
    font-size: 3rem;
    font-weight: 900;  
    text-align: center;
}